.App {
  text-align: center !important;
}

.app__form{
  padding: 20px;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom:0;
  z-index: 1;
  background-color: #e9e9eb;
  display: flex;
  width: 90%;
  margin:20px;
}

.app__input{
  display: block;
  flex: 1 0 auto !important;
}

.app_iconButton{
  flex:0;
}

.app_formControl{
  display: flex !important;
  flex-direction: row !important;
}
